.lf-container {
    max-width:600px;
    margin: 0 auto;
    margin-top:50px;
    
}

/* CSS used here will be applied after bootstrap.css */

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: white;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}


.browser-list{
    max-height: 200px;
    overflow-y:auto;

}

    table.tableSection {
        display: table;
        width: 100%;
    }
    table.tableSection thead, table.tableSection tbody {
        float: left;
        width: 100%;
    }
    table.tableSection tbody {
        overflow: auto;
        height: 150px;
    }
    table.tableSection tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.tableSection th, table.tableSection td {
        width: 33%;
    }

.right-col{
    padding-top: 30px;
  }

